.header__nav {
    a {
        text-decoration: none;
        font-size: 24px;
        font-weight: 500;
        color: black;
    }

    .header__nav__about {
        margin-left: 57px;
    }

    .active {
        border-bottom: 2px solid black;
    }

    @media all and (max-width: 768px) {
        a {
            font-size: 12px;
        }

        .header__nav__about {
            margin-left: 26px;
        }
    }
}
